[git]
    autoCommit = true
    autoPush = true

[merge]
    command = "kdiff3"
    args = ["{{ "{{ .Target }}" }}", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "--L1", "target", "--L2", "destination", "--L3", "source", "-o", "{{ "{{ .Source }}" }}"]
