# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

# User specific environment and startup programs
. "{{ .chezmoi.homeDir }}/.deno/env"
. "$HOME/.cargo/env"
